---
---

// Our variables
$pink: #f67bd2
$pink-accent: lighten($pink, 20%)
$bg-color: #f6b1c3
$text-color: #404b4f

// Import partials from `sass_dir` (defaults to `_sass`)
@import base/base

@import layouts/header
