---
layout: main
---
<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
      <a class="post-link" href="{{ site.url }}{{ post.url}}">{{ post.title }}</a>
      <span class="post-date">{{ post.date | date_to_long_string }}</span>
  </li>
  {% endfor %}
</ul>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="page-active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
  {% endif %}
</div>
{% endif %}

<div class="fb-page" data-href="https://www.facebook.com/hatsukoi.indonesia" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
  <blockquote cite="https://www.facebook.com/hatsukoi.indonesia" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/hatsukoi.indonesia">Hatsukoi Fansubs</a>
  </blockquote>
</div>

<div class="fb-page" id="pas600" data-href="https://www.facebook.com/hatsukoi.indonesia" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
  <blockquote cite="https://www.facebook.com/hatsukoi.indonesia" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/hatsukoi.indonesia">Hatsukoi Fansubs</a>
  </blockquote>
</div>
