<header>
  <div class="logo">
    <a href="/"><img src="{{ site.data.settings.logo }}" alt="Hatsukoi Fansubs Logo"></a>
  </div>
  <nav class="site-nav">
    <a class="page-link {% if page.url == '/index.html' %}current{% endif %}" target="_top" href="/">Home</a>
    <a class="page-link {% if page.url == '/anime-list.html' %}current{% endif %}"
    target="_top" href="/anime-list">Anime List</a>
    <a class="page-link {% if page.url == '/about.html' %}current{% endif %}"
    target="_top" href="/about">About</a>
    <a class="page-link {% if page.url == '/faq.html' %}current{% endif %}"
    target="_top" href="/faq">FAQ</a>
    <a class="page-link {% if page.url == '/partner.html' %}current{% endif %}"
    target="_top" href="/partner">Partner</a>
    <a class="page-link" target="_blank" href="https://discord.gg/yAHcfUr">Discord</a>
  </nav>

</header>
