<header>
  <div class="logo">
    <a href="/"><img src="{{ site.data.settings.logo }}" alt="logo"></a>
  </div>
  <nav class="site-nav">
    <a class="page-link {% if page.url == '/index.html' %}current{% endif %}" target="_top" href="{{ site.url }}">Home</a>
    <a class="page-link {% if page.url == '/anime-list.html' %}current{% endif %}"
    target="_top" href="{{ site.url }}/anime-list">Anime List</a>
    <a class="page-link {% if page.url == '/about.html' %}current{% endif %}"
    target="_top" href="{{ site.url }}/about">About</a>
    <a class="page-link {% if page.url == '/anime/hunter-x-hunter.html' %}current{% endif %}"
    target="_top" href="{{ site.url }}/faq">FAQ</a>
  </nav>

</header>
