.about
  margin-bottom: 50px

.relawan
  width: 100%
  &:after
    content: ""
    display: table
    clear: both

  .relawan-1
    width: 50%
    float: left

    h4
      margin: 0

    ul
      margin: 0

  .relawan-2
    width: 50%
    float: right

    h4
      margin: 0

    ul
      margin: 0
