---
title: Hunter x Hunter 160 Subtitle Indonesia
category: Hunter-x-Hunter
thumb: https://68.media.tumblr.com/b7477d284ba668e7043286f50f987660/tumblr_o10ayxLNbw1rpzmhoo1_500.jpg
480p:
  - link: www.google.com
    web: google
  - link: www.facebook.com
    web: facebook
  - link: www.google.com
    web: google
  - link: www.facebook.com
    web: facebook
720p:
  - link: www.google.com
    web: google
  - link: www.facebook.com
    web: facebook
  - link: www.google.com
    web: google
  - link: www.facebook.com
    web: e
---

<img src="{{ page.thumb }}" alt="Hunter x Hunter">

<p>Lorem Ipsum</p>


<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>
