---
title: Gamers!! 01 Subtitle Indonesia
category: Gamers
thumb:
date: 2017-07-25 06:52:09 +07:00
480p:
  - link: https://drive.google.com/open?id=0B94eA-uvBkq4RHBjcks3clA2OFU
    web: Google Drive
720p:
  - link: https://drive.google.com/open?id=0B94eA-uvBkq4dVczU2p0SnYtX1k
    web: Google Drive
---

<iframe src="https://drive.google.com/file/d/0B94eA-uvBkq4dVczU2p0SnYtX1k/preview" width="640" height="480"></iframe>

{% if page.thumb %}
<img src="{{ page.thumb }}">
{% endif %}

<p>Apdet sambil belajar di kelas :v<br>
Kolaborasi pertama bersama <strong><a href="http://iasubs-rev.blogspot.com/">IASubs</a></strong><br>
Translator : Surya Tambuaga [IASubs]<br>
Kara Efek : Belum ada (?)<br>
TLC : Ryuzake<br>
TS : Nao<br>
Encoder : Surya Tambuaga [IASubs]</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
