---
title: Saenai Heroine no Sodatekata .flat 02 Subtitle Indonesia
category: Saenai-Heroine-no-Sodatekata-.flat
thumb: https://2.bp.blogspot.com/-smeG8ayrGj8/WVW2d24qwFI/AAAAAAAAAEg/a4SUFc5Rj5EpKIgU_Xw13ZeEddloxWByQCLcBGAs/s640/%255BErai-raws%255D%2BSaenai%2BHeroine%2Bno%2BSodatekata%2BFlat%2B-%2B02%2B%255B720p%2BYUV444P10%2BOpus%255D%255B4ADD102A%255D.mkv_snapshot_15.48_%255B2017.06.30_09.23.56%255D.jpg
date: 2017-07-07 22:02:04 +07:00
480p:
  - link: https://drive.google.com/open?id=0B__PJpcamYb5emNvWkdzaHlfUXc
    web: Google Drive
  - link: https://www.solidfiles.com/v/zdVmeYLkgBrV5
    web: Solidfiles
  - link: https://mirrorace.com/m/uMhY
    web: Mirrorace
720p:
  - link: https://drive.google.com/file/d/0B__PJpcamYb5ek9lUXVOUDlLR00/edit
    web: Google Drive
  - link: https://www.solidfiles.com/v/8NKqyWrP65X7r
    web: Solidfiles
  - link: https://mirrorace.com/m/ibR4
    web: Mirrorace
---

<img src="{{ page.thumb }}">

<p>Kelarin utang sambil minum segelas kopi hangat bersama Megumi :v<br>
Kolaborasi hangat dan manis bersama <strong><a href="http://hana-subs.blogspot.com/">Hana Subs</a></strong><br>
Translator : Kagami Hanagawa<br>
Kara Efek : Joni-kun<br>
TS : meeyeepee [Hana Subs]<br>
Encoder : meeyeepee [Hana Subs]</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
