---
title: Konbini Kareshii 01 Subtitle Indonesia
category: Konbini-Kareshii
thumb: https://hatsukoisubs.github.io/gambar/post/Konbini-Kareshii-01.jpg
date: 2017-07-09 13:25:24 +07:00
480p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUMkhaOEdsUDlGN2c
    web: Google Drive
  - link: http://uptobox.com/5ttp6ca5dtz8
    web: Uptobox
  - link: http://www33.zippyshare.com/v/J3JY5MHM/file.html
    web: Zippyshare
  - link: https://clicknupload.org/a8h4w1lr604x
    web: ClicknUpload
720p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUZFFRWHF2Wng5alk
    web: Google Drive
  - link: http://uptobox.com/c9llwg26njv8
    web: Uptobox
  - link: http://www33.zippyshare.com/v/ANptDYhk/file.html
    web: Zippyshare
  - link: https://clicknupload.org/r9i4h5af4rsz
    web: ClicknUpload

1080p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUQnRCZVlfdUp6b1U
    web: Google Drive
  - link: http://uptobox.com/zob1cj00piqa
    web: Uptobox
  - link: http://www33.zippyshare.com/v/xWDMEqZU/file.html
    web: Zippyshare
  - link: https://clicknupload.org/x84l0rsk8mbd
    web: ClicknUpload
---

<img src="{{ page.thumb }}">

<p>
Lah, kok pacaran di Indom*ret?<br>
Proyek pertama di musim panas 2017!<br>
Kolaborasi indah bersama <b><a href="http://anifansia.net/">Anifansia</a></b>! :D<br>
<b>Translator</b> : Mysteria<br>
<b>Kara Efek</b> : Belum ada :v<br>
<b>Typesetter</b> : Banana<br>
<b>Encoder</b> : KuroTenshi [Anifansia]<br>
<b>TLC dan Editor</b> : Vanguardz [Anifansia]
</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
   </div>
</div>
  
<div class="dl-box">
  <h4>1080p</h4>
  <div class="dl-link">
    {% for link in page.1080p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
