---
title: Saenai Heroine no Sodatekata .flat 00v2 Subtitle Indonesia
category: Saenai-Heroine-no-Sodatekata-.flat
thumb: https://4.bp.blogspot.com/-JnDYuvAFXSE/WTGrsY58W1I/AAAAAAAAADs/a5uVsqRzcNMHsNgIlknn-bs4u7AM6DTAACLcB/s1600/%255BErai-raws%255D%2BSaenai%2BHeroine%2Bno%2BSodatekata%2BFlat%2B-%2B00%2B%255B720p%2BYUV444P10%2BOpus%255D%255B3783F3F6%255D.mkv_snapshot_20.24_%255B2017.06.03_01.01.50%255D.jpg
date: 2017-07-03 19:45:04 +07:00
480p:
  - link: https://drive.google.com/file/d/0B__PJpcamYb5b0g4emlqQlh1Nmc/edit
    web: Google Drive
720p:
  - link: https://drive.google.com/file/d/0B__PJpcamYb5ek9lUXVOUDlLR00/edit
    web: Google Drive
---

<img src="{{ page.thumb }}">

<p>Episode 00 udah disambut dengan Oppai Utaha yang montok dan bibirnya yang membuatku <i>"ngaceng"</i> :v<br>
Kolaborasi hangat dan manis bersama <strong><a href="http://hana-subs.blogspot.com/">Hana Subs</a></strong><br>
Translator : Kagami Hanagawa<br>
Kara Efek : Joni-kun<br>
TS : meeyeepee [Hana Subs]<br>
Encoder : meeyeepee [Hana Subs]</p>

<div class="dl-box-wrap">
  <div class="dl-box">
    <h4>480p</h4>
    <div class="dl-link">
      {% for link in page.480p %}
      <a href="{{ link.link }}">{{ link.web }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="dl-box">
    <h4>720p</h4>
    <div class="dl-link">
      {% for link in page.720p %}
      <a href="{{ link.link }}">{{ link.web }}</a>
      {% endfor %}
    </div>
  </div>
</div>
