---
title: Tsuki Ga Kirei 06.5 Subtitle Indonesia
category: Tsuki-Ga-Kirei
thumb: https://ginsub.files.wordpress.com/2017/06/screenshot-100.png?w=1024
date: 2017-07-03 19:45:02 +07:00
480p:
  - link: https://drive.google.com/uc?export=download&id=0BzbSt2nFxCxlYmJHOHo5ajJoU1E
    web: Google Drive
720p:
  - link: https://drive.google.com/uc?export=download&id=0BzbSt2nFxCxlc2tibmlYeHVUVnc
    web: Google Drive
---

<img src="{{ page.thumb }}">

<p>Masih lanjut kolebnya, walau yang disub cuman episode recap :v<br>
Kolaborasi panas dengan <strong><a href="http://www.ginsub.web.id/">Ginsub</a></strong>! :D<br>
Translator : Mysteria<br>
Kara Efek dan TS : Banana [Ginsub]<br>
Encoder : Banana [Ginsub]</p>

<div class="dl-box-wrap">
  <div class="dl-box">
    <h4>480p</h4>
    <div class="dl-link">
      {% for link in page.480p %}
      <a href="{{ link.link }}">{{ link.web }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="dl-box">
    <h4>720p</h4>
    <div class="dl-link">
      {% for link in page.720p %}
      <a href="{{ link.link }}">{{ link.web }}</a>
      {% endfor %}
    </div>
  </div>
</div>
