---
title: Saenai Heroine no Sodatekata .flat 00v2 Subtitle Indonesia
category: Saenai-Heroine-no-Sodatekata-.flat
thumb: https://68.media.tumblr.com/b7477d284ba668e7043286f50f987660/tumblr_o10ayxLNbw1rpzmhoo1_500.jpg
480p:
  - link: https://drive.google.com/file/d/0B__PJpcamYb5b0g4emlqQlh1Nmc/edit
    web: Google Drive
720p:
  - link: https://drive.google.com/file/d/0B__PJpcamYb5ek9lUXVOUDlLR00/edit
    web: Google Drive
---

<img src="{{ page.thumb }}">

<p>Episode 00 udah disambut dengan Oppai Utaha yang montok dan bibirnya yang membuatku <i>"ngaceng"</i> :v<br>
Kolaborasi hangat dan manis bersama <strong><a href="http://hana-subs.blogspot.com/">Hana Subs</a></strong><br>
Translator : Kagami Hanagawa<br>
Kara Efek : Joni-kun<br>
TS : meeyeepee [Hana Subs]<br>
Encoder : meeyeepee [Hana Subs]</p>


<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>
