---
title: Koe no Katachi Subtitle Indonesia
category: Koe-no-Katachi
thumb: https://s-media-cache-ak0.pinimg.com/originals/02/be/51/02be51baeccff2c13940aa7f178caae7.jpg
date: 2017-07-08 15:04:24 +07:00
480p:
  - link: https://drive.google.com/open?id=0B3ZTsfUoJ-bLYVhJOHQzc1lQVzg
    web: Google Drive
720p:
  - link: https://drive.google.com/open?id=0B3ZTsfUoJ-bLM0I0Rk5tRV9DaFk
    web: Google Drive

1080p:
  - link: https://drive.google.com/open?id=0B3ZTsfUoJ-bLN21rYTVjSmlXbGc
    web: Google Drive
---

<img src="{{ page.thumb }}">

<p>
Ini cuman reposting doang sih, udah lama dikerjain. Silahkan menikmati :D<br><br>
<b>Translator</b> : Serenium, Mysteria, Kagami Hanagawa, Jen-san <br>
<b>Kara Efek</b> : -riinka-<br>
<b>Typesetter</b> : Serenium dan Banana<br>
<b>Encoder</b> : Madarao<br>
<b>TLC dan Editor</b> : Ryuzake dan Serenium
</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
   </div>
</div>
  
<div class="dl-box">
  <h4>1080p</h4>
  <div class="dl-link">
    {% for link in page.1080p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
