---
title: Konbini Kareshii 02 Subtitle Indonesia
category: Konbini-Kareshii
thumb:
date: 2017-07-25 06:55:24 +07:00
480p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUSDliM2tPYkROWWc
    web: Google Drive
  - link: http://uptobox.com/wvzfmvd0c7wv
    web: Uptobox
  - link: http://www90.zippyshare.com/v/Y9BJiAmP/file.html
    web: Zippyshare
  - link: https://clicknupload.org/f0ces0fgy5y2
    web: ClicknUpload
720p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUSXVtWkM5Z1Y5a2s
    web: Google Drive
  - link: http://uptobox.com/mpnck8itt4mg
    web: Uptobox
  - link: http://www90.zippyshare.com/v/cN2J2Sej/file.html
    web: Zippyshare
  - link: https://clicknupload.org/iu19bhgu142f
    web: ClicknUpload

1080p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZURHZrZmdibm11MGc
    web: Google Drive
  - link: http://uptobox.com/ow8pes1pob05
    web: Uptobox
  - link: http://www90.zippyshare.com/v/VU2BE1w7/file.html
    web: Zippyshare
  - link: https://clicknupload.org/ho46v8uw2hfy
    web: ClicknUpload
---

<iframe src="https://drive.google.com/file/d/0B6kL6w2zMVZURHZrZmdibm11MGc/preview" width="640" height="480"></iframe>

{% if page.thumb %}
<img src="{{ page.thumb }}">
{% endif %}

<p>
Masih sempet ngejar, Wkwkwkwk...<br>
Proyek pertama di musim panas 2017!<br>
Kolaborasi indah bersama <b><a href="http://anifansia.net/">Anifansia</a></b>! :D<br>
<b>Translator</b> : Serenium<br>
<b>Kara Efek</b> : Madarao [Anifansia]<br>
<b>Typesetter</b> : Banana<br>
<b>Encoder</b> : KuroTenshi [Anifansia]<br>
<b>TLC dan Editor</b> : Vanguardz [Anifansia]
</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
   </div>
</div>

<div class="dl-box">
  <h4>1080p</h4>
  <div class="dl-link">
    {% for link in page.1080p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
