---
title: Kizumonogatari III - Reiketsu-hen Subtitle Indonesia
category: Kizumonogatari-III
thumb: https://hatsukoisubs.github.io/gambar/post/TeenageShinobu.jpg
date: 2017-07-16 18:52:54 +07:00
720p:
  - link: https://drive.google.com/open?id=0B3ZTsfUoJ-bLZkk2Zlg0cHV0a28
    web: Google Drive
  - link: http://kbagi.com/Nexus29/kizu-iii-569348
    web: Kumpulbagi
1080p:
  - link: https://drive.google.com/open?id=0B3ZTsfUoJ-bLUkRLZDNibXByeWM
    web: Google Drive
  - link: http://kbagi.com/Nexus29/kizu-iii-569348
    web: Kumpulbagi
---

<img src="{{ page.thumb }}">

<p>Akhirnya, kolaborasi terbesar di Hatsukoi beres! :D<br>
Terima kasih kepada <b><a href="https://hana-subs.blogspot.com/">Hana Subs</a></b>, <b><a href="https://chinosubs.wordpress.com/">ChinoSubs</a></b>, dan <b><a href="http://meanmean.net/">Meansubs</a></b><br>
yang mau membantu kami menyelesaikan proyek movie ini. :o<br>
<br>
<b>Translator</b> : Serenium, Subadrun, meeyeepee, Kuuhaku<br>
<b>TLC</b> : Ryuzake, Kuuhaku, dan Serenium<br>
<b>Typesetter</b> : Serenium, meeyeepee, Nao, Kuuhaku<br>
<b>Encoder</b> : Madarao<br>
<b>Editor dan QC</b> : Banana dan Serenium</p>
<div class="dl-box-wrap">
<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
<div class="dl-box">
  <h4>1080p</h4>
  <div class="dl-link">
    {% for link in page.1080p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
