---
title: Konbini Kareshii 03 Subtitle Indonesia
category: Konbini-Kareshii
thumb:
date: 2017-07-25 11:55:24 +07:00
480p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUT3FiclZadUUtRGc
    web: Google Drive
  - link: http://uptobox.com/ln1hw5akur4r
    web: Uptobox
  - link: http://www74.zippyshare.com/v/FpXHXTxb/file.html
    web: Zippyshare
720p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUMzBYbU1fel9GazQ
    web: Google Drive
  - link: http://uptobox.com/75pp4pc4d1gz
    web: Uptobox
  - link: http://www74.zippyshare.com/v/kZbh6msB/file.html
    web: Zippyshare
1080p:
  - link: https://drive.google.com/open?id=0B6kL6w2zMVZUNElJS3VhX0RZM1k
    web: Google Drive
  - link: http://uptobox.com/tfnapttkfw9p
    web: Uptobox
  - link: http://www74.zippyshare.com/v/UOmGaYaf/file.html
    web: Zippyshare
---

<iframe src="https://drive.google.com/file/d/0B6kL6w2zMVZUNElJS3VhX0RZM1k/preview" width="640" height="480"></iframe>

{% if page.thumb %}
<img src="{{ page.thumb }}">
{% endif %}

<p>
Kolaborasi indah bersama <b><a href="http://anifansia.net/">Anifansia</a></b>! :D<br>
<b>Translator</b> : Serenium<br>
<b>Kara Efek</b> : Madarao [Anifansia]<br>
<b>Typesetter</b> : Banana<br>
<b>Encoder</b> : KuroTenshi [Anifansia]<br>
<b>TLC dan Editor</b> : Vanguardz [Anifansia]
</p>

<div class="dl-box-wrap">
<div class="dl-box">
  <h4>480p</h4>
  <div class="dl-link">
    {% for link in page.480p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
  </div>
</div>

<div class="dl-box">
  <h4>720p</h4>
  <div class="dl-link">
    {% for link in page.720p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
   </div>
</div>

<div class="dl-box">
  <h4>1080p</h4>
  <div class="dl-link">
    {% for link in page.1080p %}
    <a href="{{ link.link }}">{{ link.web }}</a>
    {% endfor %}
    </div>
  </div>
</div>
