header
  font-family: 'Lato', sans-serif

  .logo
    max-width: 200px
    margin: 15px auto 0 auto

  .site-nav
    text-align: center
    text-transform: uppercase
    margin: 10px 0

    .page-link
      text-decoration: none
      color: $text-color
      margin-right: 20px

      &:hover, active
        border-bottom: 2px solid $text-color
