.post-header
  text-align: center
  color: $text-color

  .post-title
    margin: 0

  .post-meta
    margin: 0

.post-content
  text-align: center

  img
    max-width: 400px
    max-height: 226px
    margin: 20px 0

  p
    margin-bottom: 20px

  ul
    list-style: none
    padding: 20px
    margin: 0 auto
    font-weight: bold
    width: 80%

    li
      background: $text-color
      border-bottom: 1px solid #FFF
      height: 2em
      line-height: 2em

      strong
        float: left
        background: $primary-color
        width: 20%
        height: 100%

      a
        color: #FFF
        text-decoration: none
        margin-right: 15px
        padding-right: 15px
        border-right: 1px solid #FFF

        &:last-child
          margin-right: 0
          padding-right: 0
          border: 0

        &:hover, active
          color: darken(#FFF, 20%)
