.post-header
  text-align: center
  color: $text-color

  .post-title
    margin: 0

  .post-meta
    margin: 0

.post-content
  text-align: center

  img
    width: 70%
    height: auto
    margin: 20px 0

  p
    margin-bottom: 20px

  .download-box
    font-weight: bold
    width: 70%
    margin: 0 auto

    ul
      list-style: none
      padding: 0

      li
        background: $text-color
        border-bottom: 1px solid #FFF

        strong
          float: left
          background: $pink
          width: 30%

        a
          color: #FFF
          text-decoration: none
          margin-right: 15px
          padding-right: 15px
          border-right: 1px solid #FFF

          &:nth-last-child(1)
            margin-right: 0
            padding-right: 0
            border: 0

          &:hover, active
            color: darken(#FFF, 20%)
